<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{{description}}}" />
    {{{headHtmlContent}}}
    <link rel="stylesheet" href="../../libs/Cesium/1.135/Widgets/widgets.css" />
    {{{cssLinks}}}
    <style>
      {{{cssContent}}}
    </style>
  </head>
  <body>
    {{{htmlContent}}}
    <script src="../../libs/Cesium/1.135/Cesium.js"></script>
    {{{jsLinks}}}
    <script>
      {{{jsContent}}}
    </script>
  </body>
</html>
