<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    {{{headHtmlContent}}}
    {{{cssLinks}}}
    <style>
      {{cssContent}}
    </style>
  </head>
  <body>
    {{{htmlContent}}}
    {{{jsLinks}}}
    <script>
    {{#isPreview}}
      // 设置预览模式相关的逻辑
      console.log("Preview mode active");
    {{/isPreview}}
    {{jsContent}}
    </script>
  </body>
</html>
