<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{{description}}}" />
    {{{headHtmlContent}}} {{{cssLinks}}}
    <link rel="stylesheet" href="../../libs/Mapbox/v3.17.0-beta.1/mapbox-gl.css" />
    <style>
      {{{cssContent}}}
    </style>
  </head>
  <body>
    {{{htmlContent}}} {{{jsLinks}}}
    <script src="../../libs/Mapbox/v3.17.0-beta.1/mapbox-gl.js"></script>
    <script type="{{{jsType}}}">
      {{{jsContent}}}
    </script>
  </body>
</html>
