<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <%- headHtmlContent %>
    <%- cssLinks %>
    <style>
      <%= cssContent %>
    </style>
  </head>
  <body>
    <div id="app">
      <%- htmlContent %>
    </div>
    <%- jsLinks %>
    <script>
    <% if (isPreview) { %>
      // 设置预览模式相关的逻辑
      console.log("Vue3 Preview mode active");
    <% } %>
    <%= jsContent %>
    </script>
  </body>
</html>